@tailwind base;
@tailwind components;
@tailwind utilities;

$main-color: #63a002;
$secondary-color: #85976e;
$tertiary-color: #4d9d98;
$error-color: #ff5449;
$background-color: #12140e;
$neutral-color: #91918b;

:root {
    --background: $background-color;
    --foreground: $main-color;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: $background-color;
        --foreground: $main-color;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.center-horizontally-and-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}
