@use "../../globals.scss" as *;

$header-height: 60px;

.main-layout-block {
    display: flex;
    flex-direction: column;

    .header-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height !important;
        width: 100%;
        padding: 0px !important;
        background-color: $main-color !important;
    }

    .main-block {
        display: flex;
        height: calc(100% - $header-height);
        width: 100%;
    }
}
